button:focus-visible {
  outline: solid 4px var(--color-persianblue);
  outline-offset: 8px;
}
button:hover {
  background-color: var(--color-zinc);
  color: white;
  cursor: pointer;
}
button:active {
  background-color: var(--color-persianblue);
  color: white;
}
