@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@400;600;700&display=swap');
@import 'tailwindcss';

@theme {
  --color-eerie: #1e1e1e;
  --color-electricgreen: #15f30d;
  --color-persianblue: #0561a7;
  --color-sangria: #950606;
  --color-nyanza: #e1ffe4;
  --color-celeste: #bbfdff;
  --color-zinc: #888888;
  --color-olivegreen: #38791f;
  --color-green: #00ad00;

  --font-playfair: 'Playfair Display', serif;
  --font-poppins: 'Poppins', sans-serif;
}
